*{
    background-color: aquamarine;
    box-sizing: border-box ;
}

.input_text {
    color: blue;
    transition: all 250ms linear;
}

.input_text:focus {
    background-color: #040101;
    color: white;
    padding: 10px;
}

#main_heading {
    color: rgb(43, 237, 159);
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.parent_box {
    background-color: orange;
    padding: 10px;
    display: flex;

}
.box {
    width: 100px;
    height: 100px;
    background-color: rgb(199, 97, 60);
    border: 20px solid black;
    padding: 20px  30px;
    margin: 1px;
}

/* .box-child {
    width: 100%;
    height: 100%;
    background-color: skyblue;
} */