@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
}

/* box model:  */
/* css variables */
:root {
    --primary-color: #3f51b5;
    --secondary-color: #e8eaf6;
    --main-background: #c8e6c9;
    --radius: 10px;
    --border: #e5e7eb;
    --shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
    --text: #1f2937;
    --dark-text: #fff;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--main-background);
    color: var(--text);

    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    
}

/* navbar */
.navbar {
    border: 1px solid #1f2937;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: var(--primary-color);
    color: var(--dark-text);
}

.navbar .brand_name {
    color: var(--dark-text);
    font-size: 1.5rem;
}

.navbar .links {
    display: flex;
    gap: 10px;
}

.navbar .links a {
    text-decoration: none;
    color: var(--dark-text);
}

.navbar .links a:hover {
    text-decoration: none;
    color: wheat;
}

.button {
    background-color: var(--secondary-color);
    padding: 5px 10px;
    border-radius: var(--radius);
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.main_right_link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .brand_logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navbar .brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

/* End Navabr */

/* hero section */

.hero_section {
    height: 600px;
    background-color: var(--primary-color);
    color: var(--dark-text);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/pexels-markusspiske-6190327.jpg");
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

.hero_content {
    /* border: 1px solid white; */
    height: fit-content;
    text-align: center;
}

/* End Hero section */

/* Services section */

.services_section {
    padding: 60px 20px;
    background-color: var(--secondary-color);
}
.services_section , h2, p {
    text-align: center;
    margin-bottom: 20px;
}
.services_container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.service_item {
    background-color: var(--dark-text);
    color: var(--text);
    padding: 20px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    text-align: center;
}